
<nav class="navbar navbar-expand-lg " style="background-color:#141414" id="O">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Stylopin.in</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#B">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#C">Chairs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#C">Garments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#C">Toyes</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="#D">Contact Us    </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/Dashboard" >Admin    </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<a class="top btn btn-secondary btn-sm"   href="#O">Top</a>


<app-banner id="A"></app-banner>

<app-about id="B"></app-about>
<app-services id="C"></app-services>

<app-contact id="D"></app-contact>
<app-footer id="E"></app-footer>


